* {
    text-align: center;
}

body {
    background-color: #f1caaa;
}

a:visited {
    color: #a6652d;
}

a:hover {
    color: #744217;
}

ul, li {
    list-style-position: inside;
}

.description {
    width: 680px;
    margin: 10px auto;
}

.drinks {
    margin: 4px auto;
    display: inline-block;
    text-decoration: none;
    background-color: blanchedalmond;
    padding: 7px;
}