* {
    text-align: center;
}

body {
    background-color: #f1caaa;
}

a:visited {
    color: #a6652d;
}

a:hover {
    color: #744217;
}

ul, li {
    list-style-position: inside;
}

.description {
    width: 680px;
    margin: 0 auto;

}

.drinks {
    margin: 3px auto;
    display:inline-block
}